@font-face {
  font-family: jacquard;
  src: url("./fonts/Jacquard_24/Jacquard24-Regular.ttf");
}

@font-face {
  font-family: inter;
  src: url("./fonts/Inter/static/Inter-Regular.ttf");
}

.inter {
  font-family: inter, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.jacquard {
  font-family: jacquard, system-ui;
  font-weight: 400;
  font-style: normal;
}

:root {
  --bg-col: #292a2b;
  --hl-col: #cf6679;
  --h: 3.5em; /* height of red band */
}

main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(0px);
  transform-style: preserve-3d;

  background: linear-gradient(rgba(255,107,107,1) 0%,
  rgba(255,107,107,1) var(--h),
  rgba(0, 0, 0, 1) var(--h),
  rgba(0, 0, 0, 1) calc(var(--h) + 2px),
  rgba(255,255,255,0) var(--h));
  width: 450px;
  padding: 0 3em;
  border: 2px solid;
  border-radius: 15px; 

  transition: transform 100ms;
}
main > h3 {font-weight: 400;}

main > * {
  transform: translateZ(150px);
  animation: float 800ms ease-in-out alternate infinite;
}
main *:nth-child(1) {animation-delay: 100ms;}
main *:nth-child(2) {animation-delay: 200ms;}
main *:nth-child(3) {animation-delay: 300ms;}
main *:nth-child(4) {animation-delay: 400ms;}

.quote {
  margin-top: 1em;
  padding: 15px;
  font-size: 2.5em;
  line-height: 0.9;
}

ol {
  padding: 0;
}

@keyframes float {
  from { transform: translateZ(150px); }
  to   { transform: translateZ(50px); }
}

/* @media(prefers-color-scheme:dark) {} */
/* @media(prefers-color-scheme:light) {} */
