* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: repeating-linear-gradient(
    90deg,
    #efefef,
    #efefef 7px,
    #fffafa 7px,
    #fffafa 15px
    );
    overflow: hidden;
    background-size: 150px 100%;
    animation: moveBackground 15s linear infinite reverse;
}
@keyframes moveBackground {
    0% { background-position: 150px 0; }
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);

    >* {
        border: 2px solid transparent;
    }
}

.logo {
    grid-column: 1 / 7;
    grid-row: 1;
}
.man {
    grid-column: 1;
    grid-row: 2 / 7;
}
.content {
    grid-area: 2 / 2 / 7 / 5;
    padding: 2em;
    overflow: scroll;
    background-image: linear-gradient(
    0deg, 
    transparent 10%,
    currentColor 30%,
    currentColor 70%,
    transparent 90%
    );
    background-clip: text;
    background-attachment: fixed;
}
.content p {
    color: transparent;
    margin-bottom: 100px;
}

.logo>img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 20vh;
    width: 100%;
    max-width: 600px;
    object-fit: cover;
}
.man>img {
    position: absolute;
    height: 70vh;
    left: -150px;
    bottom: -50px;
    transform: rotate(25deg);
}
